@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 500;
    src: local('Lato'), url(./fonts/Lato-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Akira Expanded';
  font-weight: 900;
  src:  local('Akira'), url(./fonts/Akira.otf) format('opentype');
}